[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "febr"]
	path = febr
	url = https://github.com/laboratorio-de-pedometria/febr-package
[submodule "pedometrics"]
	path = pedometrics
	url = https://github.com/laboratorio-de-pedometria/pedometrics-package
